* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.navbar {
    background-color:#D30A40;
    width: 100%;
    box-shadow: 15px 10px 0 0 #8F0529; /* Movendo a "borda" para a direita e para baixo */

    
}


.Buttondex {
    gap: 10px;
    display: flex;
    transform: translate(20%,30%);
    width: 50%;
    
}
.Elementdex {
    display: flex;
}


.boxdex {
    box-shadow: 0px 10px 0 0 #8F0529;
    height: 80px;
    width: 20%;
    background-color: #D30A40;
}

.borderfloat {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 80px solid transparent;
    border-left: 200px solid #8F0529;
}

.Borderdex {
    position: relative;
    width: 0;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 80px solid transparent;
    border-left: 200px solid #D30A40;

}

.circle {
    width: 200%;
    height: 200%;
    border-radius: 50%;
    
}


/* Botão Azul Maior */

.BodyB {
    background-color: white;
    border: solid 2px black;
    height: 80px;
    width:80px;
    min-width: 70px;

}

.blue {

    border: solid 2px black;
    background-color: #0FEBF7;
    transform: translate(17%,5%);
    overflow: hidden;
    height: 80%;
    width: 80%;
}

.shadow {
    position: relative;
    background-color: #0EBDD2;
    border: none;
    scale: 125%;
    transform: translate(14%,19%);
    opacity: 80%;
    height: 80%;
    width: 80%;
}

.shadow::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    scale: 110%;
    background-color: #0FEBF7;
    border-radius: 50%;
    transform: translate(35%,0%);

}

.light {
    position: absolute;
    width: 50%;
    height: 50%;
    scale: 0.5;
    background-color: white;
    border-radius: 50%;
    transform: translate(80%,-40%);
    opacity: 80%;
}



/* Botões pequenos */

.lighter {
    width: 50%;
    height: 50%;
    background-color: inherit;
    filter: brightness(130%);
    transform: translate(10%,30%);
}


.red {
    background-color:  #A70410;
    border: solid 1.2px black;
    
}
.yellow {
    background-color: #8B983C;
    border: solid 1.2px black;
}
.green {
    background-color: #64AB35;
    border: solid 1.2px black;
}

.small {
    width: 25px;
    height: 25px;
    min-width: 25px;
}

/* Borda NavBar */


