@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pixelify+Sans:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;

}
body {
    background-color: #da184b;;
}


header {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar {
    background-color:#D30A40;
    width: 100%;
    box-shadow: 15px 10px 0 0 #8F0529; /* Movendo a "borda" para a direita e para baixo */

    
}

.Buttondex {
  position:relative;
    gap: 10px;
    display: flex;
    transform: translate(20%,30%);
    width: 50%;
    min-width: 200px;
    z-index: 1;
    
}
.Elementdex {
  display: flex;
}

.Borderdex {
    border-top: 0px solid transparent;
    border-bottom: 80px solid transparent;
    border-left: 200px solid #D30A40 ;
    filter: drop-shadow(0px 10px 0px #8F0529);
}



.boxdex {
    box-shadow: 0px 10px 0 0 #8F0529;
    height: 80px;
    width: 20%;
    background-color: #D30A40;
}


.circle {
    width: 200%;
    height: 200%;
    border-radius: 50%;
    
}


/* Botão Azul Maior */

.BodyB {
    background-color: white;
    border: solid 2px black;
    height: 80px;
    width:80px;
    min-width: 70px;
    min-height: 70px;

}

.blue {

    border: solid 2px black;
    background-color: #0FEBF7;
    transform: translate(17%,5%);
    overflow: hidden;
    height: 80%;
    width: 80%;
}

.shadow {
    position: relative;
    background-color: #0EBDD2;
    border: none;
    scale: 125%;
    transform: translate(14%,19%);
    opacity: 80%;
    height: 80%;
    width: 80%;
}

.shadow::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 50%;
    scale: 110%;
    background-color: #0FEBF7;
    border-radius: 50%;
    transform: translate(35%,0%);

}

.light {
    position: absolute;
    width: 50%;
    height: 50%;
    scale: 0.5;
    background-color: white;
    border-radius: 50%;
    transform: translate(80%,-40%);
    opacity: 80%;
}



/* Botões pequenos */

.lighter {
    width: 50%;
    height: 50%;
    background-color: inherit;
    filter: brightness(130%);
    transform: translate(10%,30%);
}


.red {
    background-color:  #A70410;
    border: solid 1.2px black;
    
}
.yellow {
    background-color: #8B983C;
    border: solid 1.2px black;
}
.green {
    background-color: #64AB35;
    border: solid 1.2px black;
}

.small {
    width: 25px;
    height: 25px;
    min-width: 25px;
}

/* List Pokemon */

.Containerdex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;

}

.ViewPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 11rem;
  background-color: #da184b;;
    border: 1px solid black;
    width: 100%;
    max-width: 650px;

}

.container-display {
    display: flex;
    flex-direction: column;
    width:80%;
    height: 300px;
}

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  width:100%;
  height: 250px;
  background-color: #E3E3E3;
  border-radius: 20px 20px 0px 0px;
  box-shadow: -5px 0px 0 0 #7C8282;

}

.display div {
    display: flex;
    margin: 0.2rem 1rem;
}
.Borderdisplay {
    display: flex;
    width: 100%;


}
.BoxD {
    background-color: #E3E3E3;
    width: 100%;
    border-radius: 0px 0px 20px 0px;
    filter: drop-shadow(-5px 3px 0px #7C8282);
}
.BordD {

    border-top: 0px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid #E3E3E3 ;
    filter: drop-shadow(-5px 0px 0px #7C8282);
    z-index: 1;
}

.circle-d {
    margin: 1rem;
    background-color: #E00338;
    border-radius: 50%;
    border: solid 1.2px black;
    width: 10px;
    height: 10px;
    margin-top: 0.5rem;
}
.display-lcd {
    margin: auto;
    margin-top: 1.6rem;
    border-radius: 20px;
    width: 90%;
    height: 100%;
    background-color: black;
    transform: translate(0%,10%);
    z-index: 2;
}

.SearchP {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.d-pad {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    transform: scale(0.6);

}

.d-pad div {
    background: black;
    border: 5px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    color: white;
    transition: transform 0.1s, box-shadow 0.1s;
}

.d-pad div:active {
    transform: translateY(4px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* Cores das setas */
.up    { grid-area: 1 / 2 / 2 / 3; background: #666; }
.left  { grid-area: 2 / 1 / 3 / 2; background: #777; }
.right { grid-area: 2 / 3 / 3 / 4; background: #777; }
.down  { grid-area: 3 / 2 / 4 / 3; background: #666; }

/* Botão central */
.center {
    grid-area: 2 / 2 / 3 / 3;
    background: #888;
}


.Search {
  border-radius: 50%;
  background-color: black;
  width: 50px;
  height: 50px;
}

.SearchP input  {
  background-color: #7ff332;
  font-family: "Pixelify Sans";
  font-weight: bold;
  font-size: 1rem;
  height: 50%;
  color: black;
}
.SearchP input:focus  {
    border: black;
    outline: black;
  }

.SearchP input::placeholder  {
text-align: center;
}

.ListPokemon {
  background-color: #0EBDD2;
  width: 500px;
}


.flipdex {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #8F0529, #b41640);
    justify-content: space-between;
    border: 1px solid black;
    width: 2%;

    min-width: 50px;
}

.b-flip {
    margin-top: 5rem;
    background-color: #8F0529;
    height: 10px;
    width: 50px;
    border-top: 1px solid black;
    border-radius: 50%;
    z-index: 6;

}
/* View Pokemon */

